---
layout: default
title: Home
---

<div class="row">
  <div class="sixteen columns">
    <p>Welcome to my personal website! If you would like some to hire me for programming, web development, or web design don't hesitate to <a href="mailto:&#101;&#100;&#100;&#105;&#101;&#104;&#101;&#100;&#103;&#101;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">email me</a>.</p>
  </div>
  <div class="seven columns">
    <h2>About</h2>
    <hr />
    <p>I live in <a href="http://www.ci.manhattan.ks.us/">Manhattan, KS</a> with my wonderful fiancé <a href="http://kaitlynelise.info/">Katie Phillips</a> and work part-time as a Java web developer for <a href="http://www.aceware.com/">ACEware Systems</a>.</p>
    <p>I plan on graduating <a href="http://www.k-state.edu/">K-State</a> in December, 2012 with Bachelors in <a href="http://www.cis.ksu.edu/programs/undergrad/is">Information Systems</a> and a minor in <a href="http://cba.ksu.edu/index.aspx?NID=249">Business</a>.
    <p>During my time at college I have discovered my passion for programming and more specifically web development. I enjoy both client and server side technologies and strive to build usable, clean, and functional websites.</p>
  </div>
  <div class="offset-by-two seven columns">
    <h2>Blog</h2>
    <hr />
    <p id="blog_achives"><a href="/blog/">Blog Archives</a></p>
    <h3>Recent Posts</h3>
    {% for post in site.posts limit: 3 %}
      <div class="blog_post">
        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
        <p>Posted {{ post.date | date_to_long_string }}</p>
        <label>Tags: </label>
        <ul>
          {% for tag in post.tags %}
            <li><a href="/tag/{{ tag }}/">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  </div>
  <div class="row">
  <div class="seven columns">
    <h2>Arsenal</h2>
    <hr />
    <p>Below is a list of my favorite tools that I believe make me a faster and better developer.</p>
    <ul id="arsenal_list">
      <li><a title="HTML5 Info" id="html5logo" href="http://www.w3.org/TR/html5/"></a></li>
      <li><a title="CSS3 Info" id="css3logo" href="http://www.css3.info/"></a></li>
      <li><a title="jQuery Info" id="jquerylogo" href="http://jquery.com/"></a></li>
      <li><a title="Django Info" id="djangologo" href="https://www.djangoproject.com/"></a></li>
      <li><a title="MySQL Info" id="mysqllogo" href="http://www.mysql.com/"></a></li>
    </ul>
    <p>These are the technologies I prefer to work with but I am by no means limited to them. For a full list of my qualifications please view my resume (it's under the Portfolio section).</p>
  </div>
  <div class="offset-by-two seven columns">
    <h2>Portfolio</h2>
    <hr />
    <h3>Qualifications</h3>
    <p><a href="/pdf/resume.pdf">Résumé</a></p>
    <h3>Past Work</h3>
    <ul id="portofolio_list">
      <li><a href="http://www.k-state.edu/its/helpdesk/">K-State Helpdesk Hours Applications</a></li>
      <li><a href="https://www.universitylifecafe.k-state.edu/clei/">CLEI - Program of Change</a></li>
      <li><a href="http://www.k-state.edu/espanol/">K-State in Spanish</a></li>
    </ul>
  </div>
</div>