---
layout: default
title: Home
---

    <div class="row">
      <div class="sixteen columns">
        <p>Welcome to my personal website! I'm always open to working with like
            minded people that are passionate about technology. If that's you
            <a href="mailto:&#101;&#100;&#100;&#105;&#101;&#104;&#101;&#100;&#103;&#101;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">
                let's talk business</a>.
        </p>
      </div>
      <div class="seven columns">
        <h2>About</h2>
        <hr />
        <p>I am living a truly fortunate life in <a href="http://www.olatheks.org/">Olathe, KS</a> with my awesome wife Katie, my dog Ellie, and my two cats Theo and Lucy.
            I'm employed as a Software Engineer for <a href="http://www.scriptpro.com/">ScriptPro LLC</a> where I write code that is used by pharmacies all over the world.</p>
        <p>I graduated from <a href="http://www.k-state.edu/">Kansas State University</a> in December 2012 with a bachelor's degree in <a href="http://www.cis.ksu.edu/programs/undergrad/is">Information Systems</a> and a minor in <a href="http://catalog.k-state.edu/preview_program.php?poid=3379&catoid=13">Business</a>.
        <p>I truly enjoy my life, my line of work, and am always looking for ways to challenge and improve myself.</p>
      </div>
      <div class="offset-by-two seven columns">
        <h2>Blog</h2>
        <hr />
        <p id="blog_achives"><a href="/blog/">Blog Archives</a></p>
        <h3>Recent Posts</h3>
        {% for post in site.posts limit: 3 %}
          <div class="blog_post">
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            <p>Posted {{ post.date | date_to_long_string }}</p>
            <label>Tags: </label>
            <ul>
              {% for tag in post.tags %}
                <li><a href="/tag/{{ tag }}/">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  <div class="row">
  <div class="seven columns">
    <h2>Methodology</h2>
    <hr />
    <p>The following three principles have been extremely helpful to me when solving business problems through software:</p>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/KISS_principle">Keep It Simple Stupid</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Don't_repeat_yourself">Don't Repeat Yourself</a></li>
        <li><a href="http://c2.com/cgi/wiki?PrematureOptimization">Premature optimization is the root of all evil</a></li>
    </ul>
    <p>Personal methodologies aside, take a look at my résumé (it's under the Portfolio section)
        to see a detailed description of my professional experiences.</p>
  </div>
  <div class="offset-by-two seven columns">
    <h2>Portfolio</h2>
    <hr />
    <h3>Qualifications</h3>
    <p><a href="/pdf/resume.pdf">Résumé</a></p>
    <h3>Current Work</h3>
    <p>I'm currently building web applications for the following ScriptPro products:</p>
    <ul>
        <li><a href="http://www.scriptpro.com/Products/SP-Central-Pharmacy-Management-System/">Pharmacy Management Software System</a></li>
        <li><a href="http://www.scriptpro.com/Products/SP-Central-Workflow-System/">SP Central Workflow System</a></li>
    </ul>
    <h3>Past Work</h3>
    <ul>
      <li><a href="https://aceware-next.com/">ACEware-NxT Web Application</a></li>
      <li><a href="http://www.k-state.edu/its/helpdesk/">K-State Helpdesk Hours Applications</a></li>
      <li><a href="https://www.universitylifecafe.k-state.edu/clei/">CLEI - Program of Change</a></li>
      <li><a href="http://www.k-state.edu/espanol/">K-State in Spanish</a></li>
    </ul>
  </div>
</div>
